.dashboard-container {
    background-color: rgb(235, 250, 250);
    height: 100%;
    width: 80vw;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 50px;
}

.mui-table-shadow {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}

.dashboard > h5 {
    font-size: 15px;
    margin: 5vh 30px 0;
}
.dashboard > span {
    font-size: 12px;
    color: rgb(73, 73, 73);
    margin-left: 30px;
}
.card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.card {
    margin-top: 5vh;
    margin-bottom: 2vh;
    height: 15vh;
    width: 15vw;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    transition: all 0.3s ease-in-out;
}

.card > span {
    font-size: 12px;
    color: gray;
    display: inline-block;
    margin-top: 2vh;
    margin-left: 1vw;
}
.card > h3 {
    margin: 5px 1vw;
}

.dashboard-container {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
.dashboard-container::-webkit-scrollbar {
    width: 10px;
    height: 50px;
}

.dashboard-container::-webkit-scrollbar-track {
    background: #ffffff;
}

.dashboard-container::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
.circle-card {
    color: grey;
    font-family: Montserrat;
    width: 200px;
    height: 200px;
}
.circle-box {
    margin-left: 4vw;
}
.graph {
    height: 300px;
    width: 300px;
}
.graph-data {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 75vw;
    margin: auto;
    border-radius: 5px;
    height: 70%;
}
.graph-show {
    width: 60%;
}
