
.table-container {
  height: 371px;
  padding: 40px;

  overflow-x: hidden;
  background-color: white;
  width: 69vw;
  margin: 0 auto 30px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif; 
  
}

table {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
table::-webkit-scrollbar {
  width: 10px;
  height: 50px;
}

table::-webkit-scrollbar-track {
  background: #ffffff;
}

table::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.viewButton {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px solid rgba(0, 0, 139, 0.596);
  cursor: pointer;
}

.deleteButton {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  color: crimson;
  border: 1px solid rgba(220, 20, 60, 0.6);
  cursor: pointer;
  margin-left: 4px;
}
