.userList-container {
  background-color: white;
  height: 100vh;
  width: 20vw;
  position: fixed;
  right: 0;
  margin-top: 50px;
}
.btn-crud.add {
  margin-top: 2.5vh;
  margin-left: 15vw;
  width: 40px;
  color: white;
  background-color: rgb(1, 158, 1);
  border-radius: 50%;
  border: none;
}
.btn-crud.add:hover {
  background-color: rgb(4, 196, 4);
}
.btn-crud.add:active {
  transform: scale(0.9);
}
/* .btn-crud.add:{
    transform: scale(1.1);
} */
.user-img {
  border-radius: 50%;
  margin-left: 6vw;
  margin-top: 1vw;
  transition: all 0.3s ease-in-out;
}
.user-img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
ul {
  padding-inline-start: 0px;
  margin-left: 2vw;
}
.user-data {
  height: 40px;
  width: 17vw;
  border-radius: 3px;
  display: flex;
  font-size: small;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1),
    0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.user-data:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
.heading {
  margin-top: 2vw;
  margin-left: 2vw;
  font-size: 15px;
  color: rgb(114, 114, 114);
  font-weight: bold;
}
.user-data-container {
  height:280px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
.user-data-container {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
.user-data-container::-webkit-scrollbar {
  width: 10px;
  height: 50px;
}

.user-data-container::-webkit-scrollbar-track {
  background: #ffffff;
}

.user-data-container::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.user-name {
  text-align: center;
  font-weight: bold;
}
.user-data.active {
  background-color: gray;
  color: white;
  transform: scale(1.1);
}
